<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ALRT_FIXED_EVT_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.ALRT_FIXED_EVT_PARAMVO" >
    <id column="FIXED_EVENT_ID" property="FIXED_EVENT_ID" />
    <id column="ID" property="ID" />
    <result column="PARAM_COLUMN_TYPE" property="PARAM_COLUMN_TYPE" />
    <result column="PARAM_COLUMN_NAME" property="PARAM_COLUMN_NAME" />
  </resultMap>
  <sql id="Base_Column_List" >
    FIXED_EVENT_ID, ID, PARAM_COLUMN_TYPE, PARAM_COLUMN_NAME
  </sql>
  <select id="selectALRT_FIXED_EVT_PARAM" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.ALRT_FIXED_EVT_PARAMVO" >
    select 
    <include refid="Base_Column_List" />
    from ALRT_FIXED_EVT_PARAM
    where FIXED_EVENT_ID = #{FIXED_EVENT_ID}
      and ID = #{ID}
  </select>
  <delete id="deleteALRT_FIXED_EVT_PARAM" parameterType="com.path.dbmaps.vo.ALRT_FIXED_EVT_PARAMVO" >
    delete from ALRT_FIXED_EVT_PARAM
    where FIXED_EVENT_ID = #{FIXED_EVENT_ID}
      and ID = #{ID}
  </delete>
  <insert id="insertALRT_FIXED_EVT_PARAM" parameterType="com.path.dbmaps.vo.ALRT_FIXED_EVT_PARAMVO" >
    insert into ALRT_FIXED_EVT_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="FIXED_EVENT_ID != null and FIXED_EVENT_ID != emptyBigDecimalValue" >
        FIXED_EVENT_ID,
      </if>
      <if test="ID != null and ID != emptyBigDecimalValue" >
        ID,
      </if>
      <if test="PARAM_COLUMN_TYPE != null" >
        PARAM_COLUMN_TYPE,
      </if>
      <if test="PARAM_COLUMN_NAME != null" >
        PARAM_COLUMN_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="FIXED_EVENT_ID != null and FIXED_EVENT_ID != emptyBigDecimalValue" >
        #{FIXED_EVENT_ID},
      </if>
      <if test="ID != null and ID != emptyBigDecimalValue" >
        #{ID},
      </if>
      <if test="PARAM_COLUMN_TYPE != null" >
        #{PARAM_COLUMN_TYPE},
      </if>
      <if test="PARAM_COLUMN_NAME != null" >
        #{PARAM_COLUMN_NAME},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateALRT_FIXED_EVT_PARAM" >
    update ALRT_FIXED_EVT_PARAM
    <set >
      <if test="PARAM_COLUMN_TYPE != null" >
        PARAM_COLUMN_TYPE = #{PARAM_COLUMN_TYPE},
      </if>
      <if test="PARAM_COLUMN_NAME != null" >
        PARAM_COLUMN_NAME = #{PARAM_COLUMN_NAME},
      </if>
    </set>
    where FIXED_EVENT_ID = #{FIXED_EVENT_ID}
      and ID = #{ID}
  </sql>
  <update id="updateALRT_FIXED_EVT_PARAM" parameterType="com.path.dbmaps.vo.ALRT_FIXED_EVT_PARAMVO" >
    <include refid="sql_updateALRT_FIXED_EVT_PARAM" />
  </update>
</mapper>