<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="statusMngmntMapper">
	<resultMap id="resStatusMngmntListMap" type="com.path.alert.vo.statusmngmnt.StatusMngmntCO">
		<result property="alrt_sub_evtvo.ID" column="ID" />
		<result property="alrt_sub_evtvo.SUB_ID" column="alrtSubId" />
		<result property="alrt_evtvo.EVT_ID" column="EVT_ID" />
		<result property="alrtSubTypeDesc" column="alrtSubTypeDesc" />

		<result property="alrt_sub_evtvo.STATUS" column="STATUS" />
		<result property="alrt_subvo.SUB_TYPE" column="SUB_TYPE" />
		<result property="alrt_evtvo.EVT_TYPE" column="EVT_TYPE" />
		<result property="alrt_evtvo.EVT_MODE" column="EVT_MODE" />
		<result property="alrt_sub_evtvo.REL_TYPE" column="REL_TYPE" />

		<result property="alrt_evtvo.DESC_ENG" column="DESC_ENG" />
		<result property="alrtSubEvtRelTypeDesc" column="alrtSubEvtRelTypeDesc" />
		<result property="alrt_subvo.CIF_NO" column="CIF_NO" />
		<result property="alrt_subvo.USR_ID" column="USR_ID" />
		<result property="alrt_subvo.BRANCH_CODE" column="BRANCH_CODE" />
		<result property="alrt_subvo.COMP_CODE" column="COMP_CODE" />
		<result property="alrt_subvo.CURRENCY_CODE" column="CURRENCY_CODE" />
		<result property="alrt_subvo.GL_CODE" column="GL_CODE" />
		<result property="alrt_subvo.CIF_SUB_NO" column="CIF_SUB_NO" />
		<result property="alrt_subvo.SL_NO" column="SL_NO" />
		<result property="statusmodeTypeDesc" column="statusmodeTypeDesc" />
		<result property="alrt_subvo.SUB_TYPE" column="SUB_TYPE" />
		<result property="alrtEvtTypeDesc" column="alrtEvtTypeDesc" />
		<result property="alrtevtModeTypeDesc" column="alrtevtModeTypeDesc" />
		<result property="subDescription" column="SUB_DESCRIPTION" />
		<result property="sublastname" column="SUB_LASTNAME" />
		<result property="alrt_sub_evtvo.SUSPENDED_BY" column="SUSPENDED_BY" />
		<result property="alrt_sub_evtvo.DATE_SUSPENDED" column="DATE_SUSPENDED" />
		<result column="EMAIL_YN" 				  		property="alrt_sub_evtvo.EMAIL_YN" />	
		<result column="FILE_YN" 				  		property="alrt_sub_evtvo.FILE_YN" />	
		<result column="FACEBOOK_PRIVATE_WALL_YN" 		property="alrt_sub_evtvo.FACEBOOK_PRIVATE_WALL_YN" />	
		<result column="INBOX_YN" 				        property="alrt_sub_evtvo.INBOX_YN" />	
		<result column="MOBILE_PUSH_NOTIFICATION_YN" 	property="alrt_sub_evtvo.MOBILE_PUSH_NOTIFICATION_YN" />	
		<result column="SMS_YN" 						property="alrt_sub_evtvo.SMS_YN" />	
		<result column="TWITTER_DIRECT_MESSAGE_YN" 		property="alrt_sub_evtvo.TWITTER_DIRECT_MESSAGE_YN" />	
	</resultMap>
	<select id="returnStatusMngmntList" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultMap="resStatusMngmntListMap">
		<include refid="servicesCommon.commonGridWrpBefFlip" />
		<include refid="queryStatusMngmntSQL" />
		<include refid="servicesCommon.commonGridWrpAftFlip" />
		<include refid="servicesCommon.commmonGridWrpFlipClose" />
	</select>
	<select id="returnStatusMngmntListCount" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultType="int">
		<include refid="servicesCommon.commonGridWrpBefCnt" />
		<include refid="queryStatusMngmntSQL" />
		<include refid="servicesCommon.commonGridWrpAftCnt" />
		<include refid="servicesCommon.commonGridCountWrpClose" />
	</select>
<!-- 	<sql id="queryStatusMngmntSQLll">
		SELECT ALRT_SUB.ID alrtSubId,
		ALRT_EVT.EVT_ID,
		ALRT_EVT.DESC_ENG,
		ALRT_SUB_EVT.ID,
		ALRT_SUB_EVT.REL_TYPE alrtSubEvtRelType,
		ALRT_SUB.CIF_NO,
		ALRT_SUB.USR_ID,
		ALRT_SUB.BRANCH_CODE,
		ALRT_SUB.COMP_CODE,
		ALRT_SUB.CURRENCY_CODE,
		ALRT_SUB.GL_CODE,
		ALRT_SUB.CIF_SUB_NO,
		ALRT_SUB.SL_NO,
		ALRT_SUB_EVT.REL_TYPE,
		ALRT_SUB_EVT.STATUS,
			(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =934 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB_EVT.STATUS) AS
		statusmodeTypeDesc,
		ALRT_SUB.SUB_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =935 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB.SUB_TYPE) AS alrtSubTypeDesc,
		
		ALRT_EVT.EVT_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =936 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_TYPE) AS alrtEvtTypeDesc,
		
		ALRT_EVT.EVT_MODE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =937 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_MODE) AS
		alrtevtModeTypeDesc ,
		
		
		
		CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN C.SHORT_NAME_ENG WHEN
		ALRT_SUB.SUB_TYPE = 'U' THEN U.FIRST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A'
		THEN A.BRIEF_NAME_ENG ELSE O.SHORT_NAME_ENG END SUB_DESCRIPTION,
		CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN C.LONG_NAME_ENG WHEN
		ALRT_SUB.SUB_TYPE = 'U' THEN U.LAST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A'
		THEN A.LONG_NAME_ENG ELSE O.LONG_NAME_ENG END SUB_LASTNAME,
		ALRT_SUB_EVT.SUSPENDED_BY,
		ALRT_SUB_EVT.DATE_SUSPENDED
		FROM
		ALRT_SUB_EVT,
		ALRT_EVT,
		ALRT_SUB LEFT OUTER JOIN CIF C ON ALRT_SUB.CIF_NO = C.CIF_NO AND
		ALRT_SUB.COMP_CODE = C.COMP_CODE AND ALRT_SUB.SUB_TYPE = 'C'
		LEFT OUTER JOIN USR U ON ALRT_SUB.USR_ID = U.USER_ID AND ALRT_SUB.SUB_TYPE
		= 'U'
		LEFT OUTER JOIN ALRT_SUB_DET O ON ALRT_SUB.ID = O.ID AND ALRT_SUB.SUB_TYPE
		= 'O'
		LEFT OUTER JOIN AMF A ON ALRT_SUB.COMP_CODE = A.COMP_CODE AND
		ALRT_SUB.BRANCH_CODE = A.BRANCH_CODE AND ALRT_SUB.CURRENCY_CODE =
		A.CURRENCY_CODE AND ALRT_SUB.GL_CODE = A.GL_CODE AND
		ALRT_SUB.CIF_SUB_NO=A.CIF_SUB_NO AND ALRT_SUB.SL_NO = A.SL_NO AND
		ALRT_SUB.SUB_TYPE = 'A'
		WHERE ( ALRT_SUB_EVT.SUB_ID = ALRT_SUB.ID ) AND
		( ALRT_SUB_EVT.EVT_ID = ALRT_EVT.EVT_ID ) AND
		(
		( ALRT_SUB_EVT.STATUS = 'P') OR
		( ALRT_SUB_EVT.STATUS = 'S')
		)
		
		<choose>
			<when test='relType != "A"'>
				WHERE ALRT_SUB_EVT.REL_TYPE =#{relType}
			</when>
		</choose>
		AND ALRT_SUB_EVT.REL_TYPE =#{relType}

	</sql>
	<sql id="queryStatusMngmntSQLkk">
		SELECT ALRT_SUB.ID alrtSubId,
		ALRT_SUB.CIF_NO,
		ALRT_SUB.USR_ID,
		ALRT_SUB.BRANCH_CODE,
		ALRT_SUB.COMP_CODE,
		ALRT_SUB.CURRENCY_CODE,
		ALRT_SUB.GL_CODE,
		ALRT_SUB.CIF_SUB_NO,
		ALRT_SUB.SL_NO,
		ALRT_SUB.SUB_TYPE
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =935 AND
		LANG_CODE = #{preferredLanguage} AND VALUE_CODE =ALRT_SUB.SUB_TYPE) AS
		alrtSubEvtRelTypeDesc
		FROM ALRT_SUB



		ALRT_EVT.EVT_ID,
		ALRT_EVT.DESC_ENG,
		ALRT_EVT.EVT_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =936 AND
		LANG_CODE = #{preferredLanguage} AND VALUE_CODE =ALRT_EVT.EVT_TYPE) AS
		alrtEvtTypeDesc

		ALRT_EVT.EVT_MODE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =937 AND
		LANG_CODE = #{preferredLanguage} AND VALUE_CODE =ALRT_EVT.EVT_TYPE) AS
		alrtevtModeTypeDesc
		ALRT_SUB_EVT.STATUS,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =934 AND
		LANG_CODE = #{preferredLanguage} AND VALUE_CODE
		=ALRT_SUB_EVT.REL_TYPE) AS StatusmodeTypeDesc




	</sql>
 -->
	<sql id="queryStatusMngmntSQL">
		SELECT ALRT_SUB.ID alrtSubId,
		ALRT_EVT.EVT_ID,
		ALRT_EVT.DESC_ENG,
		ALRT_SUB_EVT.ID,
		ALRT_SUB_EVT.REL_TYPE alrtSubEvtRelType,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =933 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB_EVT.REL_TYPE) AS
		alrtSubEvtRelTypeDesc,

		ALRT_SUB.CIF_NO,
		ALRT_SUB.USR_ID,
		ALRT_SUB.BRANCH_CODE,
		ALRT_SUB.COMP_CODE,
		ALRT_SUB.CURRENCY_CODE,
		ALRT_SUB.GL_CODE,
		ALRT_SUB.CIF_SUB_NO,
		ALRT_SUB.SL_NO,

		ALRT_SUB_EVT.STATUS,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =934 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB_EVT.STATUS) AS
		statusmodeTypeDesc ,

		ALRT_SUB.SUB_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =935 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB.SUB_TYPE) AS alrtSubTypeDesc
		,
		ALRT_EVT.EVT_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =936 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_TYPE) AS alrtEvtTypeDesc
		,
		ALRT_EVT.EVT_MODE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =937 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_MODE) AS
		alrtevtModeTypeDesc ,
		
		CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN C.SHORT_NAME_ENG WHEN
		ALRT_SUB.SUB_TYPE = 'U' THEN U.FIRST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A'
		THEN A.BRIEF_NAME_ENG ELSE O.SHORT_NAME_ENG END SUB_DESCRIPTION,
		CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN C.LONG_NAME_ENG WHEN
		ALRT_SUB.SUB_TYPE = 'U' THEN U.LAST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A'
		THEN A.LONG_NAME_ENG ELSE O.LONG_NAME_ENG END SUB_LASTNAME,
		

		ALRT_SUB_EVT.SUSPENDED_BY,
		ALRT_SUB_EVT.DATE_SUSPENDED
		FROM ALRT_SUB_EVT,
		ALRT_EVT,
		ALRT_SUB
		 LEFT OUTER JOIN CIF C ON ALRT_SUB.CIF_NO = C.CIF_NO AND
		ALRT_SUB.COMP_CODE = C.COMP_CODE AND ALRT_SUB.SUB_TYPE = 'C'
		LEFT OUTER JOIN USR U ON ALRT_SUB.USR_ID = U.USER_ID AND ALRT_SUB.SUB_TYPE
		= 'U'
		LEFT OUTER JOIN ALRT_SUB_DET O ON ALRT_SUB.ID = O.ID AND ALRT_SUB.SUB_TYPE
		= 'O'
		LEFT OUTER JOIN AMF A ON ALRT_SUB.COMP_CODE = A.COMP_CODE AND
		ALRT_SUB.BRANCH_CODE = A.BRANCH_CODE AND ALRT_SUB.CURRENCY_CODE =
		A.CURRENCY_CODE AND ALRT_SUB.GL_CODE = A.GL_CODE AND
		ALRT_SUB.CIF_SUB_NO=A.CIF_SUB_NO AND ALRT_SUB.SL_NO = A.SL_NO AND
		ALRT_SUB.SUB_TYPE = 'A'
		
		WHERE ( ALRT_SUB_EVT.SUB_ID = ALRT_SUB.ID ) AND
		( ALRT_SUB_EVT.EVT_ID = ALRT_EVT.EVT_ID ) AND
		(
		( ALRT_SUB_EVT.STATUS = 'P') OR
		( ALRT_SUB_EVT.STATUS = 'S')
		)
		
		<choose>
			<when test='relType != "A"'>
				AND ALRT_SUB_EVT.REL_TYPE =#{relType}
			</when>
		</choose>

	</sql>

	<select id="returnProcessSuspend" resultMap="resStatusMngmntListMap"
		parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC">
		UPDATE ALRT_SUB_EVT
		SET STATUS = 'S' , SUSPENDED_BY = #{userId}, DATE_SUSPENDED =
		#{runningDate}
		WHERE ALRT_SUB_EVT.REL_ID = #{li_line_no} And
		ALRT_SUB_EVT.REL_TYPE = #{is_rel_type}


	</select> 
	
		<select id="retriveData" resultMap="resStatusMngmntListMap"
		parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC">
		SELECT 		ALRT_SUB_EVT.SUB_ID,
				ALRT_SUB_EVT.EVT_ID,
				ALRT_SUB_EVT.ID
FROM ALRT_SUB_EVT
WHERE 
	ALRT_SUB_EVT.REL_ID = #{raRelId} AND  added these variables in SC
	ALRT_SUB_EVT.REL_TYPE= #{raRelType}


	</select> 
	
	
		<select id="alertevtmethod" resultMap="resStatusMngmntListMap"
		parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntCO">
		SELECT 	EVT_MODE, MESSAGE_SUBJECT_ENG, MESSAGE_SUBJECT_ARAB,
				MESSAGE_TEXT_ENG, MESSAGE_TEXT_ARAB
	
	FROM ALRT_EVT WHERE EVT_ID = #{liEvt} AND STATUS = 'P'

	</select>

	<select id="alertCentralizedMethod" resultMap="resStatusMngmntListMap"
		parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntCO">
		SELECT ALRT_SUB.SUB_TYPE, ALRT_SUB.COMP_CODE, ALRT_SUB.CIF_NO, ALRT_SUB.CIF_SUB_NO,
				  CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN CIF_ADDRESS.EMAIL
						 WHEN ALRT_SUB.SUB_TYPE = 'A' THEN AMF_ADDRESS.EMAIL
						 WHEN ALRT_SUB.SUB_TYPE = 'U' THEN U.EMAIL_ID
						 ELSE ALRT_SUB.EMAIL_ID
				  END,
				  CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN CIF_ADDRESS.MOBILE 
						 WHEN ALRT_SUB.SUB_TYPE = 'A' THEN AMF_ADDRESS.MOBILE 
						 WHEN ALRT_SUB.SUB_TYPE = 'U' THEN U.MOBILE_PHONE 
						 ELSE ALRT_SUB.MOBILE_PHONE
				  END,
				 ALRT_SUB.LANG, ALRT_SUB.USR_ID 
			
			FROM  ALRT_SUB LEFT OUTER JOIN  USR U ON ALRT_SUB.USR_ID = U.USER_ID  AND ALRT_SUB.SUB_TYPE = 'U'
					LEFT OUTER JOIN AMF_ADDRESS ON(AMF_ADDRESS.COMP_CODE= ALRT_SUB.COMP_CODE AND AMF_ADDRESS.ACC_BR= ALRT_SUB.BRANCH_CODE AND AMF_ADDRESS.ACC_CY = ALRT_SUB.CURRENCY_CODE AND AMF_ADDRESS.ACC_GL= ALRT_SUB.GL_CODE AND AMF_ADDRESS.ACC_CIF= ALRT_SUB.CIF_SUB_NO AND AMF_ADDRESS.ACC_SL = ALRT_SUB.SL_NO AND AMF_ADDRESS.LINE_NO = 0)
					LEFT OUTER JOIN CIF_ADDRESS ON (CIF_ADDRESS.COMP_CODE  = ALRT_SUB.COMP_CODE  AND  CIF_ADDRESS.CIF_NO = ALRT_SUB.CIF_NO AND   CIF_ADDRESS.LINE_NO = 0)
			WHERE  ALRT_SUB.ID = #{ldSubId}	

	</select>
		<select id="subscriberDetails" resultMap="resStatusMngmntListMap"
		parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntCO">
			SELECT SUB_TYPE, COMP_CODE, CIF_NO, CIF_SUB_NO, EMAIL_ID, MOBILE_PHONE, LANG, USR_ID
			
			FROM ALRT_SUB 
			WHERE ID = #{ldSubId}	

	</select>


<resultMap id="resSubscriberPackageListMap" type="com.path.alert.vo.statusmngmnt.StatusMngmntCO">
		<result property="alertSubPkgVO.LINE_NO" column="LINE_NO" />
		
			<result property="alertSubPkgVO.STATUS" column="STATUS" />
			<result property="statusmodeTypeDesc" column="statusmodeTypeDesc" />
			<result property="alrtSubTypeDesc" column="alrtSubTypeDesc" />
		<result property="alertSubPkgVO.PKG_ID" column="PKG_ID" />
		<result property="alertSubPkgVO.SUB_ID" column="SUB_ID" />
		<result property="alrt_subvo.SUB_TYPE" column="SUB_TYPE" />
		<result property="subDescription" column="SUB_DESCRIPTION" />
		<result property="sublastname" column="SUB_LASTNAME" />
		
		<result property="alert_pkgVO.BRIEF_DESC_ENG" column="BRIEF_DESC_ENG" />
		<result property="alertSubPkgVO.DATE_SUSPENDED" column="DATE_SUSPENDED" />
		<result property="alertSubPkgVO.SUSPENDED_BY" column="SUSPENDED_BY" />
		
		

		
	
	</resultMap>
	
	
	<select id="returnSubscriberPackageList" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultMap="resSubscriberPackageListMap">
		<include refid="servicesCommon.commonGridWrpBefFlip" />
		<include refid="querySubscriberPackageSQL" />
		<include refid="servicesCommon.commonGridWrpAftFlip" />
		<include refid="servicesCommon.commmonGridWrpFlipClose" />
	</select>
	<select id="returnSubscriberPackageListCount" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultType="int">
		<include refid="servicesCommon.commonGridWrpBefCnt" />
		<include refid="querySubscriberPackageSQL" />
		<include refid="servicesCommon.commonGridWrpAftCnt" />
		<include refid="servicesCommon.commonGridCountWrpClose" />
	</select>


	<sql id="querySubscriberPackageSQL">
		  SELECT CASE WHEN 	ALRT_SUB.SUB_TYPE = 'C' THEN C.SHORT_NAME_ENG WHEN ALRT_SUB.SUB_TYPE = 'U' THEN U.FIRST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A' THEN A.BRIEF_NAME_ENG ELSE O.SHORT_NAME_ENG END SUB_DESCRIPTION,   
         CASE WHEN 	ALRT_SUB.SUB_TYPE = 'C' THEN C.LONG_NAME_ENG WHEN ALRT_SUB.SUB_TYPE = 'U' THEN U.LAST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A' THEN A.LONG_NAME_ENG ELSE O.LONG_NAME_ENG END SUB_LASTNAME,   
         ALRT_SUB_PKG.LINE_NO,   
         ALRT_SUB_PKG.STATUS, 
         (SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =934 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB_PKG.STATUS) AS
		statusmodeTypeDesc ,
           
         ALRT_SUB.SUB_TYPE,   
         (SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =935 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB.SUB_TYPE) AS alrtSubTypeDesc
		,
         ALRT_PKG.BRIEF_DESC_ENG,    
         ALRT_SUB_PKG.PKG_ID,   
         ALRT_SUB_PKG.SUB_ID , 
ALRT_SUB_PKG.SUSPENDED_BY,
ALRT_SUB_PKG.DATE_SUSPENDED
FROM  
	  ALRT_SUB LEFT OUTER JOIN  CIF C ON ALRT_SUB.CIF_NO = C.CIF_NO AND ALRT_SUB.COMP_CODE = C.COMP_CODE AND ALRT_SUB.SUB_TYPE = 'C'
					LEFT OUTER JOIN  USR U ON ALRT_SUB.USR_ID = U.USER_ID  AND ALRT_SUB.SUB_TYPE = 'U'
					LEFT OUTER JOIN  ALRT_SUB_DET O ON ALRT_SUB.ID = O.ID  AND ALRT_SUB.SUB_TYPE = 'O'
					LEFT OUTER JOIN  AMF A ON ALRT_SUB.COMP_CODE = A.COMP_CODE AND ALRT_SUB.BRANCH_CODE = A.BRANCH_CODE AND ALRT_SUB.CURRENCY_CODE = A.CURRENCY_CODE AND ALRT_SUB.GL_CODE = A.GL_CODE AND ALRT_SUB.CIF_SUB_NO=A.CIF_SUB_NO AND ALRT_SUB.SL_NO = A.SL_NO AND ALRT_SUB.SUB_TYPE = 'A'   , 
         ALRT_SUB_PKG,     
         ALRT_PKG
   WHERE ( ALRT_SUB_PKG.SUB_ID = ALRT_SUB.ID ) and  
         ( ALRT_SUB_PKG.PKG_ID = ALRT_PKG.PKG_ID ) and  
         (    ( ALRT_SUB_PKG.STATUS = 'P') OR  
         ( ALRT_SUB_PKG.STATUS = 'S')   ) 
		
<!-- 		<choose> -->
<!-- 			<when test='relType != "A"'> -->
<!-- 				AND ALRT_SUB_EVT.REL_TYPE =#{relType} -->
<!-- 			</when> -->
<!-- 		</choose> -->

	</sql>

<resultMap id="resGroupPackageListMap" type="com.path.alert.vo.statusmngmnt.StatusMngmntCO">
		<result property="alertGrpPkgVO.LINE_NO" column="LINE_NO" />
<!-- 		<result property="alertGrpPkgVO.GRP_ID" column="GRP_ID" /> -->
		
		<result property="alertGrpPkgVO.GRP_ID" column="pkgGroupId" />
		<result property="alertGrpPkgVO.STATUS" column="STATUS" />
		<result property="statusmodeTypeDesc" column="statusmodeTypeDesc" />
<!-- 		<result property="alertGrpPkgVO.PKG_ID" column="PKG_ID" /> -->
		
			<result property="alertGrpPkgVO.PKG_ID" column="groupPkgId" />
		
		<result property="alertGrpVO.GRP_ID" column="GRP_ID" />
		<result property="alertGrpVO.BRIEF_DESC_ENG" column="briefDes" />
		
		<result property="alert_pkgVO.PKG_ID" column="PKG_ID" />
		<result property="alert_pkgVO.BRIEF_DESC_ENG" column="BRIEF_DESC_ENG" />
		
		
<!-- 		<result prope	rty="subDescription" column="SUB_DESCRIPTION" /> -->
<!-- 		<result property="sublastname" column="SUB_LASTNAME" /> -->
		
		
		
		<result property="alertGrpPkgVO.DATE_SUSPENDED" column="DATE_SUSPENDED" />
		<result property="alertGrpPkgVO.SUSPENDED_BY" column="SUSPENDED_BY" />
		
		

		
	
	</resultMap>
	
	
	<select id="returnGroupPackageList" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultMap="resGroupPackageListMap">
		<include refid="servicesCommon.commonGridWrpBefFlip" />
		<include refid="GroupPackagePackageSQL" />
		<include refid="servicesCommon.commonGridWrpAftFlip" />
		<include refid="servicesCommon.commmonGridWrpFlipClose" />
	</select>
	<select id="returnGroupPackageListCount" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultType="int">
		<include refid="servicesCommon.commonGridWrpBefCnt" />
		<include refid="GroupPackagePackageSQL" />
		<include refid="servicesCommon.commonGridWrpAftCnt" />
		<include refid="servicesCommon.commonGridCountWrpClose" />
	</select>


	<sql id="GroupPackagePackageSQL">
		   SELECT ALRT_GRP_PKG.LINE_NO,   
			ALRT_GRP_PKG.GRP_ID pkgGroupId,   
         ALRT_GRP_PKG.PKG_ID groupPkgId, 
         ALRT_GRP_PKG.STATUS, 
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =934 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_GRP_PKG.STATUS) AS
		statusmodeTypeDesc ,
         ALRT_GRP.GRP_ID,   
         ALRT_GRP.BRIEF_DESC_ENG briefDes,   

         ALRT_PKG.PKG_ID, 
         ALRT_PKG.BRIEF_DESC_ENG, 

		ALRT_GRP_PKG.SUSPENDED_BY,
		ALRT_GRP_PKG.DATE_SUSPENDED 

    FROM   
         ALRT_PKG,   
         ALRT_GRP_PKG,   
         ALRT_GRP  
   WHERE ( ALRT_GRP_PKG.GRP_ID = ALRT_GRP.GRP_ID ) and  
         ( ALRT_GRP_PKG.PKG_ID = ALRT_PKG.PKG_ID ) and  
         (    ( ALRT_GRP_PKG.STATUS = 'P') OR  
         ( ALRT_GRP_PKG.STATUS = 'S')   )    

		
<!-- 		<choose> -->
<!-- 			<when test='relType != "A"'> -->
<!-- 				AND ALRT_SUB_EVT.REL_TYPE =#{relType} -->
<!-- 			</when> -->
<!-- 		</choose> -->

	</sql>
	
	
	
<!-- 	<resultMap id="resSubscriberEventListMap" type="com.path.alert.vo.statusmngmnt.StatusMngmntCO"> -->
	
<!-- 			<result property="alrt_sub_evtvo.ID" column="ID" /> -->
<!-- 				<result property="alrt_evtvo.EVT_ID" column="EVT_ID" /> -->
<!-- 				<result property="alrt_evtvo.DESC_ENG" column="DESC_ENG" /> -->
<!-- 		<result property="alrt_sub_evtvo.STATUS" column="STATUS" /> -->
<!-- 		<result property="alrt_subvo.CIF_NO" column="CIF_NO" /> -->
<!-- 		<result property="alrt_subvo.USR_ID" column="USR_ID" /> -->
<!-- 		<result property="alrt_subvo.BRANCH_CODE" column="BRANCH_CODE" /> -->
<!-- 		<result property="alrt_subvo.COMP_CODE" column="COMP_CODE" /> -->
<!-- 		<result property="alrt_subvo.CURRENCY_CODE" column="CURRENCY_CODE" /> -->
<!-- 			<result property="alrt_subvo.SUB_TYPE" column="SUB_TYPE" /> -->
<!-- 			<result property="alrt_evtvo.EVT_TYPE" column="EVT_TYPE" /> -->
<!-- 		<result property="alrt_evtvo.EVT_MODE" column="EVT_MODE" /> -->
<!-- 			<result property="alrtevtModeTypeDesc" column="alrtevtModeTypeDesc" /> -->
<!-- 	<result property="subDescription" column="SUB_DESCRIPTION" /> -->
<!-- 		<result property="sublastname" column="SUB_LASTNAME" /> -->

		
	
<!-- 		<result property="alrtSubTypeDesc" column="alrtSubTypeDesc" /> -->

		
	
	
		
		
		
		
		
<!-- 		<result property="alrt_subvo.GL_CODE" column="GL_CODE" /> -->
<!-- 		<result property="alrt_subvo.CIF_SUB_NO" column="CIF_SUB_NO" /> -->
<!-- 		<result property="alrt_subvo.SL_NO" column="SL_NO" /> -->
<!-- 		<result property="statusmodeTypeDesc" column="statusmodeTypeDesc" /> -->
	
<!-- 		<result property="alrtEvtTypeDesc" column="alrtEvtTypeDesc" /> -->
	
		

	

		

		
	
<!-- 	</resultMap> -->
	
	
	<select id="returnSubscriberEventList" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultMap="resStatusMngmntListMap">
		<include refid="servicesCommon.commonGridWrpBefFlip" />
		<include refid="SubscriberEventSQL" />
		<include refid="servicesCommon.commonGridWrpAftFlip" />
		<include refid="servicesCommon.commmonGridWrpFlipClose" />
	</select>
	<select id="returnSubscriberEventListCount" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultType="int">
		<include refid="servicesCommon.commonGridWrpBefCnt" />
		<include refid="SubscriberEventSQL" />
		<include refid="servicesCommon.commonGridWrpAftCnt" />
		<include refid="servicesCommon.commonGridCountWrpClose" />
	</select>


	<sql id="SubscriberEventSQL">
		SELECT ALRT_SUB.ID alrtSubId,
		ALRT_EVT.EVT_ID,
		ALRT_EVT.DESC_ENG,
		ALRT_SUB_EVT.ID,
		ALRT_SUB_EVT.REL_TYPE alrtSubEvtRelType,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =933 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB_EVT.REL_TYPE) AS
		alrtSubEvtRelTypeDesc,

		ALRT_SUB.CIF_NO,
		ALRT_SUB.USR_ID,
		ALRT_SUB.BRANCH_CODE,
		ALRT_SUB.COMP_CODE,
		ALRT_SUB.CURRENCY_CODE,
		ALRT_SUB.GL_CODE,
		ALRT_SUB.CIF_SUB_NO,
		ALRT_SUB.SL_NO,

		ALRT_SUB_EVT.STATUS,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =934 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB_EVT.STATUS) AS
		statusmodeTypeDesc ,

		ALRT_SUB.SUB_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =935 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_SUB.SUB_TYPE) AS alrtSubTypeDesc
		,
		ALRT_EVT.EVT_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =936 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_TYPE) AS alrtEvtTypeDesc
		,
		ALRT_EVT.EVT_MODE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =937 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_MODE) AS
		alrtevtModeTypeDesc ,
		
		CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN C.SHORT_NAME_ENG WHEN
		ALRT_SUB.SUB_TYPE = 'U' THEN U.FIRST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A'
		THEN A.BRIEF_NAME_ENG ELSE O.SHORT_NAME_ENG END SUB_DESCRIPTION,
		CASE WHEN ALRT_SUB.SUB_TYPE = 'C' THEN C.LONG_NAME_ENG WHEN
		ALRT_SUB.SUB_TYPE = 'U' THEN U.LAST_NAME WHEN ALRT_SUB.SUB_TYPE = 'A'
		THEN A.LONG_NAME_ENG ELSE O.LONG_NAME_ENG END SUB_LASTNAME,
		

		ALRT_SUB_EVT.SUSPENDED_BY,
		ALRT_SUB_EVT.DATE_SUSPENDED,
		ALRT_SUB_EVT.EMAIL_YN,
	    ALRT_SUB_EVT.FILE_YN,
	  	ALRT_SUB_EVT.FACEBOOK_PRIVATE_WALL_YN,
	  	ALRT_SUB_EVT.INBOX_YN,
	  	ALRT_SUB_EVT.MOBILE_PUSH_NOTIFICATION_YN,
	  	ALRT_SUB_EVT.SMS_YN,
	  	ALRT_SUB_EVT.TWITTER_DIRECT_MESSAGE_YN
	  	
		FROM ALRT_SUB_EVT,
		ALRT_EVT,
		ALRT_SUB
		 LEFT OUTER JOIN CIF C ON ALRT_SUB.CIF_NO = C.CIF_NO AND
		ALRT_SUB.COMP_CODE = C.COMP_CODE AND ALRT_SUB.SUB_TYPE = 'C'
		LEFT OUTER JOIN USR U ON ALRT_SUB.USR_ID = U.USER_ID AND ALRT_SUB.SUB_TYPE
		= 'U'
		LEFT OUTER JOIN ALRT_SUB_DET O ON ALRT_SUB.ID = O.ID AND ALRT_SUB.SUB_TYPE
		= 'O'
		LEFT OUTER JOIN AMF A ON ALRT_SUB.COMP_CODE = A.COMP_CODE AND
		ALRT_SUB.BRANCH_CODE = A.BRANCH_CODE AND ALRT_SUB.CURRENCY_CODE =
		A.CURRENCY_CODE AND ALRT_SUB.GL_CODE = A.GL_CODE AND
		ALRT_SUB.CIF_SUB_NO=A.CIF_SUB_NO AND ALRT_SUB.SL_NO = A.SL_NO AND
		ALRT_SUB.SUB_TYPE = 'A'
		
		WHERE ( ALRT_SUB_EVT.SUB_ID = ALRT_SUB.ID ) AND
		( ALRT_SUB_EVT.EVT_ID = ALRT_EVT.EVT_ID ) AND
		(
		( ALRT_SUB_EVT.STATUS = 'P') OR
		( ALRT_SUB_EVT.STATUS = 'S')
		)
														AND
		(ALRT_SUB_EVT.REL_TYPE = 'SE')
		
<!-- 		<choose>  -->
<!-- 			<when test='relType != "A"'>  -->
<!--  				AND ALRT_SUB_EVT.REL_TYPE =#{relType}  -->
<!-- 			</when>  -->
<!--  		</choose>  -->
	</sql> 
	


		
	<resultMap id="resGroupEventListMap" type="com.path.alert.vo.statusmngmnt.StatusMngmntCO">
	

		<result property="alrt_evtvo.EVT_ID" column="EVT_ID" />
				<result property="alrt_evtvo.DESC_ENG" column="DESC_ENG" />
		<result property="alertGrpVO.GRP_ID" column="groupId" />
		<result property="alertGrpVO.BRIEF_DESC_ENG" column="BRIEF_DESC_ENG" />
			<result property="alrtEvtTypeDesc" column="alrtEvtTypeDesc" />   
		<result property="alrtevtModeTypeDesc" column="alrtevtModeTypeDesc" />
<!-- 			<result property="alrtevtModeTypeDesc" column="alrtevtModeTypeDesc" /> -->
			
			<result property="alertEvtGrpVO.LINE_NO" column="LINE_NO" />
		<result property="alertEvtGrpVO.STATUS" column="STATUS" /> 
			<result property="statusmodeTypeDesc" column="statusmodeTypeDesc" />
			
			<result property="alertEvtGrpVO.GRP_ID" column="GRP_ID" />
			<result property="alertEvtGrpVO.EVT_ID" column="groupEvtId" />
			<result property="alertEvtGrpVO.SUSPENDED_BY" column="SUSPENDED_BY" />
			<result property="alertEvtGrpVO.DATE_SUSPENDED" column="DATE_SUSPENDED" />

	</resultMap>
	
	
	<select id="returnGroupEventList" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultMap="resGroupEventListMap">
		<include refid="servicesCommon.commonGridWrpBefFlip" />
		<include refid="GroupEventSQL" />
		<include refid="servicesCommon.commonGridWrpAftFlip" />
		<include refid="servicesCommon.commmonGridWrpFlipClose" />
	</select>
	<select id="returnGroupEventListCount" parameterType="com.path.alert.vo.statusmngmnt.StatusMngmntSC"
		resultType="int">
		<include refid="servicesCommon.commonGridWrpBefCnt" />
		<include refid="GroupEventSQL" />
		<include refid="servicesCommon.commonGridWrpAftCnt" />
		<include refid="servicesCommon.commonGridCountWrpClose" />
	</select>


	<sql id="GroupEventSQL">
	   SELECT ALRT_EVT_GRP.LINE_NO,   
         ALRT_EVT_GRP.STATUS, 
         
         	(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =934 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT_GRP.STATUS) AS
		statusmodeTypeDesc ,
           
         ALRT_GRP.GRP_ID groupId,   
         ALRT_GRP.BRIEF_DESC_ENG,   
         ALRT_EVT.EVT_ID,   
         ALRT_EVT.DESC_ENG,   
     
         
         			ALRT_EVT.EVT_TYPE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =936 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_TYPE) AS alrtEvtTypeDesc
		,
		ALRT_EVT.EVT_MODE,
		(SELECT VALUE_DESC FROM SYS_PARAM_LOV_TRANS WHERE LOV_TYPE_ID =937 AND
		LANG_CODE = 'EN' AND VALUE_CODE =ALRT_EVT.EVT_MODE) AS
		alrtevtModeTypeDesc ,
         
           
         ALRT_EVT_GRP.GRP_ID,   
         ALRT_EVT_GRP.EVT_ID groupEvtId,
		ALRT_EVT_GRP.SUSPENDED_BY,
		ALRT_EVT_GRP.DATE_SUSPENDED
    FROM   
         ALRT_EVT,   
         ALRT_EVT_GRP,   
         ALRT_GRP  
   WHERE ( ALRT_EVT_GRP.GRP_ID = ALRT_GRP.GRP_ID ) and  
         ( ALRT_EVT_GRP.EVT_ID = ALRT_EVT.EVT_ID ) and  
         (    ( ALRT_EVT_GRP.STATUS = 'P') OR  
         ( ALRT_EVT_GRP.STATUS = 'S')   )    

<!-- 		<choose> -->
<!-- 			<when test='relType != "A"'> -->
<!-- 				AND ALRT_SUB_EVT.REL_TYPE =#{relType} -->
<!-- 			</when> -->
<!-- 		</choose> -->

	</sql>
	

	
	
</mapper>