<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ALRT_SUB_TMP" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.ALRT_SUB_TMPVO" >
    <id column="ID" property="ID" />
    <id column="SESSION_ID" property="SESSION_ID" />
    <result column="SUB_TYPE" property="SUB_TYPE" />
    <result column="MOBILE_PHONE" property="MOBILE_PHONE" />
    <result column="EMAIL_ID" property="EMAIL_ID" />
    <result column="DATE_UPDATED" property="DATE_UPDATED" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="LINE_NO" property="LINE_NO" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SESSION_ID, SUB_TYPE, MOBILE_PHONE, EMAIL_ID, DATE_UPDATED, DESCRIPTION, LINE_NO
  </sql>
  <select id="selectALRT_SUB_TMP" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.ALRT_SUB_TMPVOKey" >
    select 
    <include refid="Base_Column_List" />
    from ALRT_SUB_TMP
    where ID = #{ID}
      and SESSION_ID = #{SESSION_ID}
  </select>
  <delete id="deleteALRT_SUB_TMP" parameterType="com.path.dbmaps.vo.ALRT_SUB_TMPVOKey" >
    delete from ALRT_SUB_TMP
    where ID = #{ID}
      and SESSION_ID = #{SESSION_ID}
  </delete>
  <insert id="insertALRT_SUB_TMP" parameterType="com.path.dbmaps.vo.ALRT_SUB_TMPVO" >
    insert into ALRT_SUB_TMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="SESSION_ID != null" >
        SESSION_ID,
      </if>
      <if test="SUB_TYPE != null" >
        SUB_TYPE,
      </if>
      <if test="MOBILE_PHONE != null" >
        MOBILE_PHONE,
      </if>
      <if test="EMAIL_ID != null" >
        EMAIL_ID,
      </if>
      DATE_UPDATED,
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="LINE_NO != null" >
        LINE_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID},
      </if>
      <if test="SESSION_ID != null" >
        #{SESSION_ID},
      </if>
      <if test="SUB_TYPE != null" >
        #{SUB_TYPE},
      </if>
      <if test="MOBILE_PHONE != null" >
        #{MOBILE_PHONE},
      </if>
      <if test="EMAIL_ID != null" >
        #{EMAIL_ID},
      </if>
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="LINE_NO != null" >
        #{LINE_NO},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateALRT_SUB_TMP" >
    update ALRT_SUB_TMP
    <set >
      <if test="SUB_TYPE != null" >
        SUB_TYPE = #{SUB_TYPE},
      </if>
      <if test="MOBILE_PHONE != null" >
        MOBILE_PHONE = #{MOBILE_PHONE},
      </if>
      <if test="EMAIL_ID != null" >
        EMAIL_ID = #{EMAIL_ID},
      </if>
      DATE_UPDATED = 
      <choose >
        <when test="isSybase == 1" >
           GETDATE(),
        </when>
        <otherwise >
           SYSDATE,
        </otherwise>
      </choose>
      <if test="DESCRIPTION != null" >
        DESCRIPTION = #{DESCRIPTION},
      </if>
      <if test="LINE_NO != null" >
        LINE_NO = #{LINE_NO},
      </if>
    </set>
    where ID = #{ID}
      and SESSION_ID = #{SESSION_ID}
  </sql>
  <update id="updateALRT_SUB_TMP" parameterType="com.path.dbmaps.vo.ALRT_SUB_TMPVO" >
    <include refid="sql_updateALRT_SUB_TMP" />
    <if test="DATE_UPDATED != null" >
      AND DATE_UPDATED = #{DATE_UPDATED}
    </if>
  </update>
</mapper>